DATABASE_URL=""

YANDEX_API_KEY=""

# Auth.js 
AUTH_SECRET=""
AUTH_URL=""
NEXTAUTH_URL=""
AUTH_TRUST_HOST=true

# Yandex OAuth
AUTH_YANDEX_ID=""
AUTH_YANDEX_SECRET=""

# Yandex Translate
YANDEX_TRANSLATE_API_KEY=""
FOLDER_ID=""

# Yandex Dictionary
YANDEX_DICTIONARY_API_KEY=""